{
	"singleQuote": true,
	"semi": false,
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"requirePragma": false,
	"endOfLine": "auto",
	"printWidth": 120
}
